.primaryColor {
    color: #148d8d
}
.secondaryColor {
    color: #EFBC75
}

.primaryFont {
    font-family: Arial, Helvetica, sans-serif;
}
.secondaryFont {
    font-family: 'Courier New', Courier, monospace;
}